<!DOCTYPE html>
<html>
　<head>
　　　<meta charset="UTF-8">
　　　<link rel="stylesheet" href="application.css">
　　　<title>HTML5サンプル</title>
　</head>
　<body>
    <header>
      <div class="kaisya">
        株式会社div
      </div>

    </header>

　</body>
</html>