<!DOCTYPE html>
<html>
　<head>
　　　<meta charset="UTF-8">
　　　<link rel="stylesheet" href="normalize1.css">
　　　<link rel="stylesheet" href="application.css">
　　　<title>HTML5サンプル</title>
　</head>
　<body>
<header>
<div class="head">
    <h1 class="title">株式会社div</h1>          <div class="navbar">
    <ul class="navlist">
        <a href="https://www.google.com/search?q=%E3%83%86%E3%83%83%E3%82%AF%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97&oq=%E3%83%86%E3%83%83%E3%82%AF%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97&aqs=chrome.0.69i59j0l5j69i61l2.4131j1j7&sourceid=chrome&ie=UTF-8"><li>会社概要</li></a>
        <a href="#"><li>事業内容</li></a>
        <a href="#"><li>沿革</li></a>
        <a href="#"><li>採用情報</li></a>
        <a href="#"><li>アクセス</li></a>
        <a href="#"><li>お問い合わせ</li></a>
    </ul>
</div>
</div>
</header>
      <header class="header">
      　　<p class="site-title-sub">----first portforio ----</p>
         <h1 class="site-title">Yuki Echigawa</h1>
         <p class"site-descripition">Check out some of my works.</p>
         <div class="buttons">
           <a class="button" href="#about">Learn MORE</a>
           <a class="button button-orange" href="#contact">SEMD MESSAGE</a>
          </div>
      </header>

      <section class="about" id="about">
      　　<h2 class="heading">PROFILE</h2>
      　　<h2 class="about-text">
           越川と申します。<br>
           出身：兵庫・京都・大阪・岐阜・愛知・東京<br>
           陸上：7年間（100ｍ）<br>
           趣味：岩盤浴・パワースポットめぐり<br>
         </p>
         <h2 class="douki">
         【興味をもったきっかけ】
         </h2>
      　　<h2 class="about-text">
      なにか自分が作りたい・実行したいと思ったときに、<br>それを実行するために自分で調べているときが一番楽しいです。<br>
    　まずは、考え方の基礎を作るために、片っ端からWebサイトを作っており、今後は、自分の考え方を目で見れる形にするために<br>ECサイトやオリジナルアプリをつくっていきます。
      　　</p>
   　　 </section>

   <section class="works">
   <h2 class="heading">MY WORKS</h2>
   <div class="works-wrapper">
     <div class="work-box">
       <img class="work-image" src="../images/image/pictweet.jpg" alt="制作事例">
       <div class="work-description">
         Pictweet<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
 
     <div class="work-box">
       <img class="work-image" src="images/mooovi.jpg" alt="制作事例">
       <div class="work-description">
         Mooovi<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
 
     <div class="work-box">
       <img class="work-image" src="images/profy.jpg" alt="制作事例">
       <div class="work-description"> 
         Profy<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
   </div>
   <div class="works-wrapper2">
   <div class="work-box">
     <img class="work-image" src="../images/image/pictweet.jpg" alt="制作事例">
     <div class="work-description">
       Pictweet<br>
       <a href="#" class="button button-ghost">READ MORE</a>
     </div>
   </div>

   <div class="work-box">
     <img class="work-image" src="images/mooovi.jpg" alt="制作事例">
     <div class="work-description">
       Mooovi<br>
       <a href="#" class="button button-ghost">READ MORE</a>
     </div>
   </div>

   <div class="work-box">
     <img class="work-image" src="images/profy.jpg" alt="制作事例">
     <div class="work-description"> 
       Profy<br>
       <a href="#" class="button button-ghost">READ MORE</a>
     </div>
   </div>
 </div>
 </section>

 <section class="contact" id="contact">
 <h2 class="heading">CONTACT</h2>
 <form class="contact-form">
   <input type="text" name="name" placeholder="NAME">
   <input type="text" adres="adres" placeholder="ADDRESS">
   
   <textarea name="message" placeholder="MESSAGE"></textarea>
   <input type="submit" value="SEND">
 </form>
</section>
<footer>
Copyright(C) echigawa yuki ALL RIGHTS RESERVED.
</footer>
　</body>
</html>