<!DOCTYPE html>
<html>
　<head>
　　　<meta charset="UTF-8">
　　　<link rel="stylesheet" href="application.css">
　　　<link rel="stylesheet" href="normalize.css">
　　　<title>HTML5サンプル</title>
　</head>
　<body>
      <header class="header">
      　　<p class="site-title-sub">----Web application portforio ----</p>
         <h1 class="site-title">My Works</h1>
         <p class"site-descripition">Check out some of my works.</p>
         <div class="buttons">
           <a class="button" href="#about">Learn MORE</a>
           <a class="button button-orange" href="#contact">SEMD MESSAGE</a>
          </div>
      </header>

      <section class="about" id="about">
      　　<h2 class="heading">PROFILE</h2>
      　　<h2 class="about-text">
           兵庫生まれの越川と申します。<br>
           【経歴】<br>
           出生：兵庫県<br>
           高校：京都府<br>
           大学：岐阜県<br>
           1社目：愛知県<br>
           2社目：東京都<br>
           ＊それでも関西を忘れられない。<br>
         </p>
         <h2 class="douki">
         【エンジニアへのきっかけ】
      　　<p class="about-text">
        　　なにか自分が作りたい・実行したいと思ったときに、それを実行するため調べているときが一番楽しいです。<br>
        　　まずは、考え方の基礎を作るために、片っ端からWebサイトを作っています。<br>      
       　　 今後は、自分の考え方を見れる形にするためオリジナルアプリをつくっていきます。
      　　</p>
   　　 </section>

   <section class="works">
   <h2 class="heading">MY WORKS</h2>
   <div class="works-wrapper">
     <div class="work-box">
       <img class="work-image" src="images/bg.jpg" alt="制作事例">
       <div class="work-description">
         Pictweet<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
 
     <div class="work-box">
       <img class="work-image" src="images/mooovi.jpg" alt="制作事例">
       <div class="work-description">
         Mooovi<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
 
     <div class="work-box">
       <img class="work-image" src="profy.jpg" alt="制作事例">
       <div class="work-description"> 
         Profy<br>
         <a href="#" class="button button-ghost">READ MORE</a>
       </div>
     </div>
   </div>
 </section>

 <section class="contact" id="contact">
 <h2 class="heading">CONTACT</h2>
 <form class="contact-form">
   <input type="text" name="name" placeholder="NAME">
   <textarea name="message" placeholder="MESSAGE"></textarea>
   <input type="submit" value="SEND">
 </form>
</section>

　</body>
</html>