<!DOCTYPE html>
<html>
　<head>
　　　<meta charset="UTF-8">
　　　<link rel="stylesheet" href="application.css">
　　　<link rel="stylesheet" href="normalize.css">
　　　<title>HTML5サンプル</title>
　</head>
　<body>
      <header class="header">
      　　<p class="site-title-sub">----Web application portforio ----</p>
         <h1 class="site-title">My Works</h1>
         <p class"site-descripition">Check out some of my works.</p>
         <div class="buttons">
           <a class="button" href="#about">Learn MORE</a>
           <a class="button button-orange" href="#contact">SEMD MESSAGE</a>
          </div>
      </header>

      <section class="ahout" id="about">
      </section>

      <section class="works">
      </section>

      <section class="contact" id="contact">
      </section>

　</body>
</html>