<!DOCTYPE html>
<html>
　<head>
　　　<meta charset="UTF-8">
　　　<link rel="stylesheet" href="application.css">
　　　<link rel="stylesheet" href="normalize.css">
　　　<title>HTML5サンプル</title>
　</head>
　<body>
      <header class="header"></header>

      <section class="ahout" id="about">
      </section>

      <section class="works">
      </section>

      <section class="contact" id="contact">
      </section>

　</body>
</html>