/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
}

body {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
}

.header {
    padding: 170px 30px 80px;
    height: 100vh;
    background-color: rgba(25, 25, 120, 0.9);
}

.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.site-title {
    margin: 50px;
    font-size: 4.5rem;
}

.site-description {
    margin-bottom: 50px;
    color: #888;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #afa58d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.7rem;
}

.button:hover {
    opacity: 0.9;
}

.button-orange {
    background-color: #f1b400;
}